.grapher {
    display: flex;
    flex-direction: column;
}

.grapher-bar {
    display: flex;
    flex-direction: row;
    width: 100%;  
    font-size: 1.1rem;  
    border: 1px solid black;
    border-bottom: none;
}

.grapher-input {
    flex: 12;
    padding: 10px;
}

.grapher-graph {
    position: relative;
}

.grapher-canvas {
    border: 1px solid black;
}

.grapher-pos-x-marker {
    position: absolute;
    top: 50%;
    right: 20px;
}

.grapher-neg-x-marker {
    position: absolute;
    top: 50%;
    left: 20px;
}

.grapher-pos-y-marker {
    position: absolute;
    left: 50%;
    top: 20px;
}

.grapher-neg-y-marker {
    position: absolute;
    left: 50%;
    bottom: 20px;
}

.grapher-zoom-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    border-left: 1px solid black;
    cursor: pointer;
}

.grapher-zoom-button:hover {
    background-color: grey;
}