* {
    border: none;
    outline: none;
}

body {
    overflow: hidden;
}



#container {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
}